@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');
html,body{font-family: "PoorStory",sans-serif;}
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
html,body{font-family: 'Poor+Story',sans-serif;color: #333;font-family: 'Josefin+Sans:ital',sans-serif;color: #333;min-height: 100vh;}
html,body{  font-family: "Bagel Fat One", system-ui;
 font-weight: 400;
 font-style: normal;}
.header{width: 100%;position: fixed;left: 0;right: 0;background-color: #fff;z-index: 10;transition: all 0.5s;}
.h_wrap{width: 90%;padding: 0 5%;max-width: 1400px;margin: 0 auto;display: flex;justify-content: space-between;align-items: center;height: 97px;}
.nav{display: flex;align-items: center;}
.logo{color: #000;}
.logo>a{display: block;}
.menu{display: flex;margin-left: 40px;}
.menu>li{height: 97px;display: flex;align-items: center;}
.menu>li>a{display:flex;font-size: 1vw;font-weight: 500;margin-right: 20px;align-items: center;}
.menu>li:last-child>a::after{content: "";width: 0.7vw;height: 16px;background: url(../imgs/ico_new_window.svg)no-repeat center center;margin-left: 5px;background-size: 100%;}
/*sub*/
.sub_bg{position: absolute;left: 0;top: 97px;width: 100%;border-top: 1px solid #e2e2e2;box-shadow: 0px 10px 10px rgba(205,205,205,0.5);background-color: #fff;z-index: 10;}
.sub{width: 90%;max-width: 1400px;margin: 0 auto;display: flex;padding: 25px 0;}
.sub>li>a{display: block;padding: 1vw;text-align: center;}
.sub>li>a img{width: 100%;}
.sub>li>a p{font-size: 0.8vw;}
.sub>li>a:hover p{text-decoration: underline;}
.family{position: relative;}
.family_btn{width: 8vw;line-height: 250%;font-size: 0.8vw;text-align: left;background: url(../imgs/bg_underline.png)no-repeat left bottom;border: none;background-size: 100%;font-weight: 500;display: flex;align-items:center;justify-content: space-between;}
.family_btn::after{content: "";width: 16px;height: 16px;background:url(../imgs/ico_family-arrow.svg)no-repeat center center;background-size: 50%;}
.family_list{position: absolute;width: 100%;background-color: #fff;border: 2px solid #333;margin-top: 10px;}
.family_list>li>a{display: block;line-height: 250%;padding-left: 15px;font-size: 0.7vw;}

@media all and (max-width:1024px){
.menu{display: none;}
.nav{order: 2;}
.family{order: 3;}
.mobile{order: 1;}
.m_btn{width: 5vw;height: 50px;;display: flex;flex-direction: column;justify-content: center;cursor: pointer;}
.m_btn>span{width: 70%;border-top: 2px solid #333;margin: 0.5vw 0;}
.m_btn>span:nth-child(2){width: 60%;}
.family_btn{width: 15vw;font-size: 2vw;}
.family_list>li>a{font-size: 1.5vw;}
.logo img{width: 10vw;}

.m_nav{position: fixed;left: 0;top: 0;z-index: 20;width: 100%;height: 100vh;}
.m_nav_bg{width: 100%;height: 100vh;background-color: rgba(0,0,0,0.5);}
.m_menu_box{position: fixed;left: 0;top: 0;background-color: #fff;width: 430px;height: 100%;box-sizing: border-box;padding: 22vh 7vw;}
.m_close{position: absolute;right: 20px;top: 20px;cursor: pointer;}
.m_close img{width: 40px;}
.m_menu{margin-bottom: 5vw;}
.m_menu>li>a{font-size: 5vw;line-height: 140%;display: flex;}
.m_menu>li:last-child{margin-top: 3vw;}
.m_menu>li:last-child>a{font-size: 2vw;}
.m_menu>li:last-child>a span{text-decoration: underline;}
.m_menu>li:last-child>a::after{content: ">";margin-left: 15px;}


.sns{display: flex;}
.sns>li{margin: 0 10px;}
.sns>li img{width: 3.5vw;}
/*click시 메뉴 나타나는 효과*/
.m_menu_box{margin-left: -430px;transition: all 0.3s;}
.active{margin-left: 0;}

/*sub 메뉴*/
.m_sub_bg{position: absolute;left: 7vw;top: 8vh;background-color: #fff;width: 70%;height: 90%;}
.m_sub_close{width: 40px;cursor: pointer;}
.m_sub_close img{width: 100%;}
.m_sub{font-size: 6vw;margin-top: 10vh;}
.m_sub::before{content: "BEST";font-size: 5vw;margin-bottom: 15px;display: block;}
.m_sub>li>a{display: block;font-size: 3.5vw;line-height: 200%;}



}
@media all and (max-width:767px){
.m_menu_box{width: 70vw;}
.m_menu{margin-bottom: 15vw;}
.m_menu>li>a{font-size: 10vw;}
.m_menu>li:last-child>a{font-size: 4vw;}
.sns>li img{width: 7vw;}
/*click시 메뉴 나타나는 효과*/
.m_menu_box{margin-left: -70vw;transition: all 0.3s;}
.active{margin-left: 0;}

/*~767px. sub 메뉴*/
.m_sub::before{content: "BEST";font-size: 10vw;margin-bottom: 15px;display: block;}
.m_sub>li>a{display: block;font-size: 5vw;line-height: 200%;}



}



@media all and (min-width:1025px){
.mobile{display: none;}
}

/*main*/
.main{width: 100%;height: calc(100vh - 97px);padding-top: 94px;position: relative;display: flex;flex-direction: column;justify-content: center;align-items: center;overflow: hidden;}
.main>h2{font-family: "Josefin"sans-serif;font-size: 7vw;text-align: center;font-weight: 500;margin: 3vh 0;color: #000;transition: all 0.7s;}
.main_slide{width: 35%;display: flex;align-items: center;}
.main_slide>.main_wrap{width:calc(100% - 10vw);position: relative;min-height: 42vh;display: flex;justify-content: center;align-items: center;}
.main_wrap img{width: 100%;position: absolute;max-height: 120%;cursor: pointer;}

.main_slide::before{content: "「";font-size: 3vw;width: 5vw;}
.main_slide::after{content: "」";font-size: 3vw;width: 5vw;text-align: right;display:block;}

.main_banner{position: absolute;z-index: 1;left: 5vw;bottom: 2vh;}
.main_banner>a{display: block;}
.main_banner>a>p{font-weight: 500;margin-bottom: 10px;font-size: 1.2vw;}
.main_banner img:nth-child(2){position: absolute;right: -4vw;top: 0;width: 50px;width: 4vw;}
.main_banner img:nth-child(3){font-size: 13vw;}
.main_banner>a::after{content: "Go!";position: absolute;right: -4vw;top: -7px;font-weight: 600;font-size: 1vw;}

.scr_btn{position: absolute;z-index: 1;right: 5vw;bottom: 2vh;cursor: pointer;display: flex;align-items: flex-end;}
.scr_btn::before{content: "Let's see";font-weight: 600;font-size: 1.5vw;margin-bottom: 8px;}
.scr_btn img{width: 3vw;}

@media all and (max-width:1024px){
 .main_slide{width: 40%;}
 .main_slide>.main_wrap{min-height: 30vh;}
 .main>h2{font-size: 10vw;}
.main_banner>a>p{font-size: 2vw;}
.main_banner img:nth-child(3){width: 20vw;}
.scr_btn img{width: 5vw;}
.scr_btn::before{font-size: 2vw;}

}

@media all and (max-width:767px){
.main>h2{font-size: 15vw;}
.main_slide{width: 60%;}
.main_banner img:nth-child(3){font-size: 25vw;}
.scr_btn img{width: 7vw;}
.scr_btn::before{font-size: 3vw;}

}

/*contents*/
.contents{width: 100%;padding: 0 4vw;margin-top: 100px;box-sizing: border-box;}
.conbox{height: 17vw;margin: 20px 0;transition: all 0.5s;overflow: hidden;position: relative;}
.conbox>a{display: flex;width: 100%;height: 100%;background-color:rgba(0,0,0,0.3);align-items: center;justify-content: space-between;position: absolute;left: 0;top: 0;}
.conbox>a>img{height:3.5vw;margin-left: 7vw;}
.con_title{width: 20%;color: #fff;font-size: 1.8vw;}
.con_title::after{content: "";display: block;width: 2.3vw;height: 2.3vw;background: url(../imgs/ico_more.svg) center center no-repeat;background-size: 100%;margin-top: 15px;}
.boxbg{width: 100%;height: 100%;}

.box1 .boxbg{background: url(../imgs/cons.png)center  no-repeat;background-attachment: fixed;background-size: cover;}
.box2 .boxbg{background: url(../imgs/carde\ case1.png)center 50%  no-repeat;background-attachment: fixed;background-size: cover;}
.box3 .boxbg{background: url(../imgs/tok.png)center no-repeat;background-attachment: fixed;}
.box4 .boxbg{background: url(../imgs/clear\ case.png)center  no-repeat;background-attachment: fixed;background-size: cover;}
.box5 .boxbg{background: url(../imgs/check.png)center bottom no-repeat;background-attachment: fixed;}
.box6 .boxbg{background: url(../imgs/music.png) center 50%  no-repeat;background-attachment: fixed;}
.box7 .boxbg{background: url(../imgs/keyring.png)center  45%no-repeat;background-attachment: fixed}
.box8 .boxbg{background: url(../imgs/cup.png)center 35%  no-repeat;background-attachment: fixed;}

@media all and (max-width:1024px){
.conbox{height: 22vw;}
.con_title{font-size: 3vw;width: 35%;}
.con_title::after{width: 5vw;height: 5vw;}
.conbox>a>img{height: 5vw;}
}
@media all and (max-width:767px){
.conbox{height: 34vw;}
.con_title{font-size: 4vw;width: 35%;}
.con_title::after{width: 5vw;height: 5vw;}
.conbox>a>img{height: 8vw;}
}


.footer{display: flex;flex-direction: column;padding: 50px 0;width: 80vw;margin: 0 auto;align-items: center;}
.f_menu{display: flex;align-items: center;}
.f_menu>li>a{display: flex;padding: 5px 10px;font-size: 1vw;}
.f_menu>li:nth-child(1)>a::after{content: "";width: 0.8vw;height: 0.8vw;background: url(../imgs/ico_new_window.svg) no-repeat center center;background-size: 100%;margin-left: 5px;}
.f_logo{margin: 1vw 0;}
.f_txt{font-size: 0.8vw;text-align: center;line-height: 200%;}
.f_menu>li:last-child img{width: 2vw;}
.f_sns{display: flex;margin: 1vw 0;}
.f_sns>li{margin: 0 5px;}
.copyright{font-size: 0.8vw;}

@media all and (max-width:1024px){
.f_menu>li>a{font-size: 1.8vw;}
.f_txt,.copyright{font-size: 1.3vw;}
.f_menu>li:last-child img{width: 3vw;}
.con_title{font-size: 3vw;width: 35%;}
}

@media all and (max-width:767px){
 .f_menu>li>a{font-size: 3vw;}
 .f_menu>:last-child img{width: 5vw;}
 .f_logo{margin: 3vw 0;}
 .f_txt,.copyright{font-size: 2.5vw;}
 .f_sns{margin: 3vw 0;}
 .con_title{font-size: 3vw;width: 35%;}
 }